<div class="museum-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="museum-area"><a href="/museums/areas/東北">東北</a></div>
        <hr>
        <div class="museum-area"><a href="/museums/areas/関東">関東</a></div>
        <hr>
        <div class="museum-area"><a href="/museums/areas/中部">中部</a></div>
        <hr>
        <div class="museum-area"><a href="/museums/areas/近畿">近畿</a></div>
        <hr>
        <div class="museum-area"><a href="/museums/areas/四国">四国</a></div>
        <hr>
        <div class="museum-area"><a href="/museums/areas/九州">九州</a></div>
        <hr>
      </div>
    </div>
  </div>
</div>